## 1. Data Science
### Tools:
- Data extraction with __SQL__.
- Programming basics with __Python__.
- Data analysis using __pandas__.
- Data visualization using __Matplotlib__.
- Machine Learning using __scikit-learn__.

***
## 2. Introduction to SQL
### SQL statements:
- __CREATE TABLE:__ creates a new table.
- __INSERT INTO:__ adds a new row to a table.
- __SELECT:__ queries data from a table.
- __ALTER TABLE:__ changes an existing table.
- __UPDATE:__ edits a row in a table.
- __DELETE FROM:__ deletes rows from a table.

### Project - Create a Table:

In [1]:
import sqlite3

conn = sqlite3.connect('Create a Table.db')
friends = conn.cursor()

#### Create a table named friends with three columns:
- id that stores INTEGER.
- name that stores TEXT.
- birthday that stores DATE.

In [2]:
friends.execute('''
    CREATE TABLE friends (
    id INTEGER,
    name TEXT,
    birthday DATE
    );
''')

#### Add Jane Doe to friends.<br>Her birthday is May 30th, 1990.

In [3]:
friends.execute('''
    INSERT INTO friends (id, name, birthday)
    VALUES (1, 'Jane Doe', '1990-05-30');
''')

#### Add two of your friends to the table.<br>Insert an id, name, and birthday for each of them.

In [4]:
friends.execute('''
    INSERT INTO friends (id, name, birthday)
    VALUES (2, 'Kayden Li', '1989-02-07');
''')

In [5]:
friends.execute('''
    INSERT INTO friends (id, name, birthday)
    VALUES (3, 'Pearl Su', '1993-07-09');
''')

#### Jane Doe just got married! Her new last name is "Smith".<br>Update her record in friends.

In [6]:
friends.execute('''
    UPDATE friends
    SET name = 'Jane Smith'
    WHERE id = 1;
''')

#### Add a new column named email.

In [7]:
friends.execute('''
    ALTER TABLE friends
    ADD COLUMN email TEXT;
''')

#### Update the email address for everyone in your table.<br>Jane Smith's email is jane@codecademy.com.

In [8]:
friends.execute('''
    UPDATE friends
    SET email = 'jane@codecademy.com'
    WHERE id = 1;
''')

In [9]:
friends.execute('''
    UPDATE friends
    SET email = 'kayden@codecademy.com'
    WHERE id = 2;
''')

In [10]:
friends.execute('''
    UPDATE friends
    SET email = 'pearl@codecademy.com'
    WHERE id = 3;
''')

#### Wait, Jane Smith is not a real person.<br>Remove her from friends.

In [11]:
friends.execute('''
    DELETE FROM friends
    WHERE name = 'Jane Smith';
''')

In [12]:
import pandas as pd

table = pd.read_sql_query("SELECT * FROM friends", conn)
table

   id       name    birthday                  email
0   2  Kayden Li  1989-02-07  kayden@codecademy.com
1   3   Pearl Su  1993-07-09   pearl@codecademy.com

In [13]:
conn.commit()
conn.close()