## Project - Page Visits Funnel

In [1]:
import pandas as pd

visits = pd.read_csv('visits.csv',
                     parse_dates=[1])
cart = pd.read_csv('cart.csv',
                   parse_dates=[1])
checkout = pd.read_csv('checkout.csv',
                       parse_dates=[1])
purchase = pd.read_csv('purchase.csv',
                       parse_dates=[1])

Inspect the DataFrames using print and head:
- visits lists all of the users who have visited the website
- cart lists all of the users who have added a t-shirt to their cart
- checkout lists all of the users who have started the checkout
- purchase lists all of the users who have purchased a t-shirt

In [2]:
print(visits.head()) 
print(cart.head()) 
print(checkout.head()) 
print(purchase.head())

                                user_id          visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
                                user_id           cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00
                                user_id       checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00
                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00

Combine visits and cart using a left merge.

In [3]:
visits_cart = pd.merge(visits, cart, how = 'left')

How long is your merged DataFrame?

In [4]:
print(len(visits_cart))

2052

How many of the timestamps are null for the column cart_time?<br>
What do these null rows mean?

In [5]:
print(len(visits_cart[visits_cart.cart_time.isnull()]))

1652

What percent of users who visited Cool T-Shirts Inc. ended up not placing a t-shirt in their cart?<br>
Note: To calculate percentages, it will be helpful to turn either the numerator or the denominator into a float, by using float(), with the number to convert passed in as input. Otherwise, Python will use integer division, which truncates decimal points.

In [6]:
print('%.2f' %(100 * len(visits_cart[visits_cart.cart_time.isnull()]) / float(len(visits_cart))))

80.51

Repeat the left merge for cart and checkout and count null values. What percentage of users put items in their cart, but did not proceed to checkout?

In [7]:
cart_checkout = cart.merge(checkout, how = 'left')
print('%.2f' %(100 * len(cart_checkout[cart_checkout.checkout_time.isnull()]) / float(len(cart_checkout))))

20.93

Merge all four steps of the funnel, in order, using a series of left merges. Save the results to the variable all_data.<br>
Examine the result using print and head.

In [8]:
all_data = visits.merge(cart, how = 'left').merge(checkout, how = 'left').merge(purchase, how = 'left')
print(all_data.head())

                                user_id          visit_time  \
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
4  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00

            cart_time       checkout_time       purchase_time
0                 NaT                 NaT                 NaT
1 2017-01-26 14:44:00 2017-01-26 14:54:00 2017-01-26 15:08:00
2 2017-08-20 08:31:00                 NaT                 NaT
3 2017-08-20 08:49:00                 NaT                 NaT
4                 NaT                 NaT                 NaT

What percentage of users proceeded to checkout, but did not purchase a t-shirt?

In [9]:
checkout_purchase = checkout.merge(purchase, how = 'left')
print('%.2f' %(100 * len(checkout_purchase[checkout_purchase.purchase_time.isnull()]) / float(len(checkout_purchase))))

16.89

Which step of the funnel is weakest (i.e., has the highest percentage of users not completing it)?<br>
How might Cool T-Shirts Inc. change their website to fix this problem?

Using the giant merged DataFrame all_data that you created, let's calculate the average time from initial visit to final purchase. Start by adding the following column to your DataFrame:
- all_data['time_to_purchase'] = all_data.purchase_time - all_data.visit_time

In [10]:
all_data['time_to_purchase'] = all_data.purchase_time - all_data.visit_time

Examine the results using:
- print(all_data.time_to_purchase)

In [11]:
print(all_data.time_to_purchase)

0           NaT
1      00:44:00
2           NaT
3           NaT
4           NaT
5           NaT
6           NaT
7           NaT
8           NaT
9           NaT
10          NaT
11          NaT
12          NaT
13          NaT
14          NaT
15     00:38:00
16          NaT
17          NaT
18          NaT
19          NaT
20          NaT
21          NaT
22          NaT
23          NaT
24          NaT
25          NaT
26          NaT
27          NaT
28          NaT
29          NaT
         ...
2564        NaT
2565        NaT
2566        NaT
2567        NaT
2568        NaT
2569        NaT
2570        NaT
2571        NaT
2572        NaT
2573   00:46:00
2574        NaT
2575        NaT
2576        NaT
2577   00:32:00
2578   00:28:00
2579   00:11:00
2580   00:32:00
2581   00:28:00
2582   00:11:00
2583   00:32:00
2584   00:28:00
2585   00:11:00
2586        NaT
2587        NaT
2588        NaT
2589        NaT
2590        NaT
2591        NaT
2592        NaT
2593        NaT
Name: time_to_purchase, Length: 2594, dtype: timedelta64[ns]

Calculate the average time to purchase using the following code:
- print(all_data.time_to_purchase.mean())

In [12]:
print(all_data.time_to_purchase.mean())

0 days 00:44:02.672413